@import "./base/variables";
@import "./base/base";
@import "./base/typography";

@import "./components/navbar";
@import "./components/header";
@import "./components/section";

@import "./pages/home";
