*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background: $color-gradient;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus,
button:focus {
  outline: none;
}
