@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  color: $color-grey-dark;
}
